
*.class

*.bin

*.lock

.classpath

.gradle/buildOutputCleanup/cache.properties

.project

*.prefs

build/jars/main/jar/api/main.jar

build/jars/main/jar/main.jar

build/libs/SwingExtensions.jar

build/reports/tests/test/classes/LibraryTest.html

*.css

*.html

*.js

*.idx

*.xml

build/tmp/createMainJar/MANIFEST.MF

build/tmp/jar/MANIFEST.MF

build/tmp/test/jar_extract_193844489163456248_tmp

build/libs/swing_extensions.jar
